<div id="sub_nav">
  <div id="onefirm_nav" class="department-nav active">
    <div class="arrow-up initial"></div>
    <ul class="nav navbar-nav">
      <li>@Html.ActionLink("Two Minutes", "Index", "Home")</li>
      <li>@Html.ActionLink("Social Roster", "Index", "Home")</li>
      <li>@Html.ActionLink("Social Media", "SocialMedia", "Home")</li>
      <li>@Html.ActionLink("Project Manager", "Index", "Projects")</li>
      <li>@Html.ActionLink("Extension List", "Extensions", "Home")</li>
      <li>@Html.ActionLink("Newsletter", "Index", "Home")</li>
      <li>@Html.ActionLink("Quality Control", "Index", "Home")</li>
      <li>@Html.ActionLink("Growth", "Index", "Home")</li>
    </ul>
  </div>
  <div id="admin_nav" class="department-nav">
    <div class="arrow-up"></div>
    <ul class="nav navbar-nav">
      <li>@Html.ActionLink("Users", "Index", "Users")</li>
      <li>@Html.ActionLink("User Roles", "Index", "Roles")</li>
      <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
      <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
      <li>@Html.ActionLink("New", "Index", "Home")</li>
      <li>@Html.ActionLink("Forms", "Index", "Home")</li>
    </ul>
  </div>
  <div id="audit_nav" class="department-nav">
    <div class="arrow-up"></div>
    <ul class="nav navbar-nav">
      <li>@Html.ActionLink("MJL", "Index", "Mjl")</li>
      <li>@Html.ActionLink("Banks", "Index", "Banks")</li>
      <li>@Html.ActionLink("Knowledge Base", "Index", "Home")</li>
      <li>@Html.ActionLink("Forms", "Index", "Home")</li>
      <li>@Html.ActionLink("Admin", "Index", "Home")</li>
    </ul>
  </div>
  <div id="fa_nav" class="department-nav">
    <div class="arrow-up"></div>
    <ul class="nav navbar-nav">
      <li>@Html.ActionLink("Forms", "Index", "Home")</li>
      <li>@Html.ActionLink("Admin", "Index", "Home")</li>
    </ul>
  </div>
  <div id="healthcare_nav" class="department-nav">
    <div class="arrow-up"></div>
    <ul class="nav navbar-nav">
      <li>@Html.ActionLink("Forms", "Index", "Home")</li>
      <li>@Html.ActionLink("Admin", "Index", "Home")</li>
    </ul>
  </div>
  <div id="hr_nav" class="department-nav">
    <div class="arrow-up"></div>
    <ul class="nav navbar-nav">
      <li>@Html.ActionLink("Forms", "Index", "Home")</li>
      <li>@Html.ActionLink("Informative Links", "Index", "Home")</li>
      <li>@Html.ActionLink("Personnel Policy", "Index", "Home")</li>
      <li>@Html.ActionLink("Employee Benefits", "Index", "Home")</li>
      <li>@Html.ActionLink("Employee Discounts", "Index", "Home")</li>
      <li>@Html.ActionLink("Admin", "Index", "Home")</li>
    </ul>
  </div>
  <div id="it_nav" class="department-nav">
    <div class="arrow-up"></div>
    <ul class="nav navbar-nav">
      <li>@Html.ActionLink("Procedures", "Index", "Home")</li>
      <li>@Html.ActionLink("Printers", "Index", "Home")</li>
      <li>@Html.ActionLink("Server Map", "Index", "Home")</li>
      <li>@Html.ActionLink("Computer Inventory", "Index", "Home")</li>
      <li>@Html.ActionLink("Server Inventory", "Index", "Home")</li>
      <li>@Html.ActionLink("IP Addresses", "IPAddresses", "IT")</li>
      <li>@Html.ActionLink("Helpful Links", "Index", "Home")</li>
      <li>@Html.ActionLink("Admin", "Admin", "IT")</li>
    </ul>
  </div>
  <div id="marketing_nav" class="department-nav">
    <div class="arrow-up"></div>
    <ul class="nav navbar-nav">
      <li>@Html.ActionLink("Employee Resources", "Index", "Home")</li>
      <li>@Html.ActionLink("Logos", "Index", "Home")</li>
      <li>@Html.ActionLink("Letterheads", "Index", "Home")</li>
      <li>@Html.ActionLink("Powerpoint Templates", "Index", "Home")</li>
      <li>@Html.ActionLink("Marketing Materials", "Index", "Home")</li>
      <li>@Html.ActionLink("Saltmarsh Services Flyers", "Index", "Home")</li>
      <li>@Html.ActionLink("Social Media", "Index", "Home")</li>
      <li>@Html.ActionLink("Forms", "Index", "Home")</li>
      <li>@Html.ActionLink("Admin", "Index", "Home")</li>
    </ul>
  </div>
  <div id="tax_nav" class="department-nav">
    <div class="arrow-up"></div>
    <ul class="nav navbar-nav">
      <li>@Html.ActionLink("Tax Policies", "Index", "Home")</li>
      <li>@Html.ActionLink("Procedures", "Index", "Home")</li>
      <li>@Html.ActionLink("Worksheets", "Index", "Home")</li>
      <li>@Html.ActionLink("Form 1040", "Index", "Home")</li>
      <li>@Html.ActionLink("CPE Opportunities", "Index", "Home")</li>
      <li>@Html.ActionLink("Additional Resources", "Index", "Home")</li>
      <li>@Html.ActionLink("Admin", "Index", "Home")</li>
    </ul>
  </div>
</div>
