@model IEnumerable<SCG.Models.Profile>

@{
    ViewBag.Title = "Social Roster";
    ViewBag.Page_Area = "onefirm_area";
    ViewBag.Page_ID = "social_roster_pge";
    ViewBag.Page_Layout = "columns_3";
}

<style>
    #Roster {
        font-size: 0;
    }

        #Roster .roster-profile {
            width: 25%;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            cursor: pointer;
        }


        #Roster .roster-photo {
            display: block;
            width: 92%;
            height: 330px;
            margin: 4%;
            background: #CCC url() center top no-repeat;
            background-size: cover;
            border-radius: 8px;
        }
</style>

<div class="page-holder">
    <h2>@ViewBag.Title</h2>
    <div id="Roster">

        @{  foreach (var item in Model)
            {
                <div class="roster-profile f_nav" url="/Profiles/Details/@item.pro__ID">
                    <span class="roster-photo" style="background-image:url(/assets/Employees/@Html.Raw(item.pro__Photo))"></span>
                    <h3>
                        @Html.Raw(item.pro__First_Name) @Html.Raw(item.pro__Last_Name)
                        <span>@Html.Raw(item.pro__Creds)</span>
                        <span>@Html.Raw(item.pro__Title)</span>
                    </h3>
                </div>
            }
        }
    </div>

</div>